cold_email_workflow.json
{
  "name": "Cold Email Workflow \u2014 Bhavik",
  "nodes": [
    {
      "parameters": {},
      "id": "node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1U3IDSdQCowA-3sfipx7V8M3iVIhV5TILCvAT5RIEYuQ/edit?usp=sharing"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "master"
        },
        "filtersUI": {},
        "options": {}
      },
      "id": "node-2",
      "name": "Get Sheet Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.Status }}",
              "rightValue": "NEW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-3",
      "name": "Filter NEW Rows",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const title = ($json['Title'] || '').toLowerCase();\nconst manualTemplate = ($json['Template Type'] || '').trim();\n\n// Extract first name from full name\nconst firstName = ($json['Name'] || '').split(' ')[0].trim();\n\nconst DOC_IDS = {\n  recruiter:      '1HLxoep1-pHOsEILnbN5Wo05rttSzeXfFAoZbkgxE2vw',\n  hiring_manager: '1bgMDkgTz00kPX7YYvCIFPp7zdgRzuT-oG7_nybgJd_A',\n  founder:        '1ovT0WXGH4rxm4FCCSRB0Lfp6GZWdtks7_ajx9iDMo2M',\n  peer_referral:  '19pu_EIVp0Swg23xSdeKW9HtsN-EfIViakyt5hyTTYoU',\n  generic:        '19pu_EIVp0Swg23xSdeKW9HtsN-EfIViakyt5hyTTYoU'\n};\n\nlet template;\nif (manualTemplate) {\n  template = manualTemplate.toLowerCase();\n} else if (/recruiter|talent|\\bhr\\b|human resources/i.test(title)) {\n  template = 'recruiter';\n} else if (/manager|lead|head|director|\\bvp\\b|vice president/i.test(title)) {\n  template = 'hiring_manager';\n} else if (/founder|ceo|co-founder|owner|president/i.test(title)) {\n  template = 'founder';\n} else if (/data scientist|ml engineer|machine learning|ai engineer|research|analyst|engineer|developer/i.test(title)) {\n  template = 'peer_referral';\n} else {\n  template = 'generic';\n}\n\nreturn { ...$json, resolvedTemplate: template, docId: DOC_IDS[template], firstName };"
      },
      "id": "node-4",
      "name": "Determine Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=https://docs.google.com/document/d/{{ $json.docId }}/edit"
      },
      "id": "node-5",
      "name": "Read Template Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_DOCS_CRED_ID",
          "name": "Google Docs"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = ($json.content || '').trim();\n\nif (!text) {\n  throw new Error('Google Doc is empty. Make sure the doc has content.');\n}\n\nconst leadData = $('Determine Template').item.json;\nreturn { ...leadData, templateContent: text };"
      },
      "id": "node-6",
      "name": "Extract Doc Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json['Company URL'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "node-fetch",
      "name": "Fetch Company Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1560,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get raw HTML from the fetch response\nconst html = ($json.data || $json.body || '').toString();\n\n// Strip scripts, styles, nav, footer, comments, and all tags\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 4000);\n\n// Carry all lead + template data forward with company research\nconst leadData = $('Extract Doc Text').item.json;\nreturn { ...leadData, companyResearch: text };"
      },
      "id": "node-extract",
      "name": "Extract Page Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const firstName = $json.firstName || '';\nconst name = $json.Name || '';\nconst title = $json.Title || '';\nconst company = $json.Company || '';\nconst templateType = $json.resolvedTemplate || 'generic';\nconst companyUrl = $json['Company URL'] || 'company website';\nconst companyResearch = $json.companyResearch || 'No research available \u2014 use company name and lead title context only.';\nconst templateContent = $json.templateContent || '';\n\nconst prompt = `You are personalizing a cold outreach email for Bhavik Chopra, a data scientist, AI engineer, and developer relations lead based in New York.\n\nLEAD:\n- First Name: ${firstName}\n- Full Name: ${name}\n- Title: ${title}\n- Company: ${company}\n- Template Type: ${templateType}\n\nCOMPANY RESEARCH (scraped from ${companyUrl}):\n${companyResearch}\n\nEMAIL TEMPLATE:\n${templateContent}\n\nFIXED VALUES \u2014 insert these exactly where indicated, do not rephrase:\n- {{PROOF_POINT}} = architected a production GenAI system cutting intake-to-routing time by 75% with zero critical compliance incidents since deployment\n- Build / Lead / Communicate bullets = copy word for word from the template\n- LinkedIn URL = https://www.linkedin.com/in/jbhavik70/\n- Resume URL = https://docs.google.com/document/d/15lZ5XpKPBBOuABvEvwb6-cXnLg9KhROLBBuwz3_JtZU/edit?usp=sharing\n\nYOUR JOB:\nReplace ONLY the {{PLACEHOLDER}} markers using the instructions below. Copy every other word exactly as written in the template.\n\nPLACEHOLDERS:\n- {{FIRST_NAME}} = lead first name\n- {{COMPANY}} = company name\n- {{SUBJECT_TAG}} = one short phrase (4-6 words max) using company research, tailored to what someone in the lead title would care about:\n  generic: what the company is building or known for, relevant to someone in their role\n  hiring_manager: what the company is working on that someone managing in their domain would find interesting\n  founder: the company bet or direction that defines their stage right now\n  recruiter: the role area you are reaching out about (e.g. AI engineering hiring or Senior DS roles)\n- {{COMPANY_SPECIFIC_REASON}} (generic only) = one short phrase about something the company has built or is known for, relevant to someone in the lead title \u2014 max 10 words, no full sentence\n- {{HONEST_TAKE}} (generic only) = one short sentence on why that is interesting from a product or technical angle \u2014 about the company only, never about the individual person\n- {{COMPANY_SPECIFIC_PROJECT}} (hiring_manager only) = one short phrase about something the company recently shipped or is building, relevant to a manager in the lead title domain \u2014 max 10 words\n- {{TECHNICAL_ANGLE}} (hiring_manager only) = one short sentence on the technical or operational angle that stands out \u2014 about the company work, not the person\n- {{PROOF_POINT}} (hiring_manager only) = use the fixed value above exactly\n- {{RECENT_MOVE}} (founder only) = one short phrase about a specific company move: launch, raise, product decision, or public signal \u2014 max 10 words\n- {{REAL_TAKE}} (founder only) = one short honest sentence reacting to that move from a builder perspective \u2014 not a compliment\n- {{PERSONALIZATION_LINE}} (founder only) = one short sentence connecting the company direction to why Bhavik is relevant \u2014 about the company, not the individual\n- {{COMPANY_HOOK}} (recruiter only) = one short sentence about what the company is building or hiring for that makes this outreach relevant \u2014 never about what the individual recruiter does\n\nRULES:\n1. Fill ONLY {{PLACEHOLDER}} markers \u2014 copy all other text exactly as written\n2. Use company research and lead title to fill placeholders \u2014 do not invent facts not in the research\n3. If research is empty, write a short plausible observation from the company name and lead title only\n4. Keep every filled placeholder SHORT \u2014 one phrase or one sentence maximum, never more\n5. Each paragraph must be ONE continuous line \u2014 no line breaks inside a paragraph\n6. Separate paragraphs with exactly two newlines\n7. Do NOT use hyphens, em dashes, or bullet points anywhere \u2014 write in plain flowing sentences like a human\n8. In the subject line, use | as the separator between parts, not x or +\n9. The final email must feel concise and human \u2014 if a filled placeholder makes a sentence too long, cut words not meaning\n10. Return ONLY valid JSON, no markdown, no code fences:\n{\"subject\": \"...\", \"body\": \"...\"}`;\n\nreturn { ...$json, claudePrompt: prompt };"
      },
      "id": "node-build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 1500, messages: [{ role: 'user', content: $json.claudePrompt }] }) }}",
        "options": {}
      },
      "id": "node-7",
      "name": "Claude Generate Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CLAUDE_CRED_ID",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract Claude's response text\nconst raw = $json.content?.[0]?.text || '';\n\n// Strip markdown code fences if Claude added them\nconst cleaned = raw\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Claude returned invalid JSON: ' + cleaned);\n}\n\nlet subject = (parsed.subject || '').replace(/\\s+x\\s+/g, ' | ').replace(/\\s+\\+\\s+/g, ' | ');\nconst body = (parsed.body || '').trim();\n\n// Split on any newline(s) into paragraphs\nconst paragraphs = body\n  .split(/\\n+/)\n  .map(p => p.trim())\n  .filter(p => p.length > 0);\n\n// Build HTML \u2014 with special formatting rules\nconst htmlParts = paragraphs.map(p => {\n  // Bold the recruiter snapshot labels\n  p = p\n    .replace(/^Build:/, '<strong>Build:</strong>')\n    .replace(/^Lead:/, '<strong>Lead:</strong>')\n    .replace(/^Communicate:/, '<strong>Communicate:</strong>');\n\n  // Convert LinkedIn URL to a clean LinkedIn link\n  p = p.replace(\n    /https:\\/\\/www\\.linkedin\\.com\\/in\\/jbhavik70\\//g,\n    '<a href=\"https://www.linkedin.com/in/jbhavik70/\">LinkedIn</a>'\n  );\n\n  // Convert resume URL to a clean Resume link\n  p = p.replace(\n    /https:\\/\\/docs\\.google\\.com\\/document\\/d\\/15lZ5XpKPBBOuABvEvwb6-cXnLg9KhROLBBuwz3_JtZU\\/edit[^\\s]*/g,\n    '<a href=\"https://docs.google.com/document/d/15lZ5XpKPBBOuABvEvwb6-cXnLg9KhROLBBuwz3_JtZU/edit?usp=sharing\">Resume Link</a>'\n  );\n\n  return '<p style=\"margin:0 0 12px 0;\">' + p + '</p>';\n});\n\nconst htmlBody = htmlParts.join('\\n');\n\nconst leadData = $('Extract Page Text').item.json;\nreturn { ...leadData, emailSubject: subject, emailBody: htmlBody };"
      },
      "id": "node-7b",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Filter NEW Rows').item.json.Email }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {
          "senderName": "Bhavik Chopra"
        }
      },
      "id": "node-8",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1U3IDSdQCowA-3sfipx7V8M3iVIhV5TILCvAT5RIEYuQ/edit?usp=sharing"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "master"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Filter NEW Rows').item.json.Email }}",
            "Status": "Error",
            "Error Message": "={{ $json.error?.message || $json.message || 'Unknown error' }}"
          },
          "matchingColumns": [
            "Email"
          ]
        }
      },
      "id": "node-10",
      "name": "Update \u2014 Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2660,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1U3IDSdQCowA-3sfipx7V8M3iVIhV5TILCvAT5RIEYuQ/edit?usp=sharing"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "master"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Filter NEW Rows').item.json.Email }}",
            "Status": "Sent",
            "Sent At": "={{ new Date().toISOString() }}",
            "Email Content": "={{ $json.emailBody }}"
          },
          "matchingColumns": [
            "Email"
          ]
        }
      },
      "id": "node-11",
      "name": "Update \u2014 Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2660,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sheet Rows": {
      "main": [
        [
          {
            "node": "Filter NEW Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter NEW Rows": {
      "main": [
        [
          {
            "node": "Determine Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Template": {
      "main": [
        [
          {
            "node": "Read Template Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Template Doc": {
      "main": [
        [
          {
            "node": "Extract Doc Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Doc Text": {
      "main": [
        [
          {
            "node": "Fetch Company Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Website": {
      "main": [
        [
          {
            "node": "Extract Page Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Page Text": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Claude Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Generate Email": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Update \u2014 Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update \u2014 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}